.App {
  /* text-align: center; */
}
.thebasic{
  text-align: center;
  margin-bottom: 50px;
}
.btn-sty{
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  margin-top: -70px;
  display: flex;
  margin-bottom: 30px;
  margin-left: 20px;
}
.editbtn-sty{
  margin-left: 20px;
  border:none;
  background-color: grey;
  color: white;
  padding: 10px;
}
.addbtn-sty{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.addbtn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  /* float: right; */
}
.addbtn:focus{
  outline: none;
}
.card{
  border: 1px solid;
  border-radius: 20px;
  height: 225px;
  cursor: pointer;
}
.title-sty{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
}
.thebtm{
  margin-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.blog-sty{
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
